<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
    body {
      margin: 0;
    }
    div {
      box-sizing: border-box;
    }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <div class="wrapper" 
      style="width: 600px; 
      height: 480px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      background-size: cover;
      overflow-x: hidden;
      overflow-y: scroll;">

        <div class="jumbotron"
        style="padding-top: 120px;
        padding-bottom: 45px;
        text-align: center;">

          <p class="title"
          style="display: inline-block;
          margin: 0;
          width: 295px;
          font-size: 28px;
          font-weight: 800;
          line-height: 33px;
          color: #1B77F5;">THANK YOU FOR USING OUR SERVICE!</p>
          
          <p class="detail"
          style="margin-bottom: 5px;
          margin-top: 30px;
          font-size: 20px;
          font-weight: 200;
          line-height: 24px;
          color: #262626;">This is your verification code:</p>
          
          <p class="code"
          style="margin-top: 0;
          margin-bottom: 100px;
          padding: 5px;
          font-size: 34px;
          font-weight: 900;
          line-height: 40px;
          color: #81E555;"><%= code %></p>

        </div>
      </div>
    </div>
  </body>
</html>